body {
    background-color: #181B1D;
}

@font-face {
    font-display: swap;
    font-family: 'PTSans';
    font-style: normal;
    font-weight: normal;
    src: local('PTSans'), url('../../fonts/PTSans-Regular.ttf') format('woff');
}


.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main {
    background-color: #BFBFBF;
    width: 865px;
    margin-top: 50px;
    height: calc(100vh - 50px);
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    position: absolute;
}

.pokeball {
    width: 175px;
    height: 175px;
    position: absolute;
    top: -30px;
    right: -25px;
}





/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...}

 Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...}

 Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}

 Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {...} */