body {
    background-image: url("/images/stars_background.png");
}

@font-face {
    font-display: swap;
    font-family: 'STAR JEDI';
    font-style: normal;
    font-weight: normal;
    src: local('STAR JEDI'), url('../../fonts/Starjedi.ttf') format('woff');
}

h1 {
    font-family: 'STAR JEDI';
    color: white;
}

.wrapper {
    height: 100%;
    width: 80%;
    position: absolute;
    left: 10%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .wrapper {
    height: 100%;
    width: 100%;
    left: 0;
    }
}



/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...}

 Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...}

 Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}

 Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {...} */