@font-face {
    font-display: swap;
    font-family: 'STAR JEDI';
    font-style: normal;
    font-weight: normal;
    src: local('STAR JEDI'), url('../../fonts/Starjedi.ttf') format('woff');
}

h1 {
    font-family: 'STAR JEDI';
    color: white;
}

.wrapper {
    height: 100%;
    width: 80%;
    position: absolute;
    left: 10%;
}