.loadingContainer {
    margin-top: 25px;
}

.morePeopleLoading {
    float: center;
    color: white;
    font-size: 20px;
    font-family: 'STAR JEDI';
}

.circleLoading {
    margin: auto;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid rgba(51,64,83, 1);
    border-top-color: #FFF;
    animation: spin 1s infinite linear;
  }
  
  @keyframes spin { 
    100% { 
      transform: rotate(360deg); 
    } 
  } 
