.Imprint {
    color: black;
    display: block;
    position: relative;
    left: 10%;
    width: 80%;
    font-family: 'PTSans';
}

.Imprint .scrollContainer {
    height: calc(100vh - 370px) !important;
}


.Imprint ol { 
    counter-reset: item;
    text-align: left;
    padding-inline-start: 20px !important;
}
.Imprint li{ 
    display: block;
}
.Imprint li:before { 
    content: counters(item, ".") " "; 
    counter-increment: item 
}

.Imprint .topli {
    font-size: 25px;
}

.topli li{
    font-size: 20px;
}

.Imprint a {
    text-decoration: none;
    color: #1e3b66;
    font-weight: bold;
}



@media only screen and (max-width: 600px)  {
    .Imprint {
        display: block;
        position: relative;
        margin-left: 0;
        left: 1%;
        width: 98%;
        margin-top: 0px;
    }
}