.Imprint {
    background-color: #334053;
    color: white;
    display: block;
    position: relative;
    left: 25%;
    width: 50%;
    height: 500px;
}

.Imprint .scrollContainer {
    height: 100% !important;
}


.Imprint ol { 
    counter-reset: item;
    text-align: left;
    padding-inline-start: 20px !important;
}
.Imprint li{ 
    display: block;
}
.Imprint li:before { 
    content: counters(item, ".") " "; 
    counter-increment: item 
}

.Imprint .topli {
    font-size: 25px;
}

.topli li{
    font-size: 20px;
}