.TechnologyInfo {
    color: black;
    display: block;
    position: relative;
    left: 10%;
    width: 80%;
    font-family: 'PTSans';
}

.TechnologyInfo .scrollContainer {
    height: calc(100vh - 370px) !important;
}

.TechnologyInfo p {
    font-size: 18px;
}

.TechnologyInfo a {
    text-decoration: none;
    color: #1e3b66;
    font-weight: bold;
}

.TechnologyInfo a:hover {
    cursor: pointer;
}
