  .cardWrapper {
    margin-bottom: 25px;
  }

.card{
    background-color: white;
    color: black;
    height: 142px;
    border-radius: 28px;
    margin-left: 70px;
    margin-right: 70px;
    font-family: 'PTSans';
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
}
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.pokemonNameExpanded {
    margin-left: 50px !important;
}

.pokemonNameSection p{
    margin: 0 0 0 30px;
    font-size: 30px;
    line-height: 142px;
    text-transform: uppercase;
    font-weight: bold;
}

.pokemonTypeSection {
    overflow: hidden;
    position: relative;
    width: 300px;
    margin-left: auto;
}
.pokemonTypeOverlay {
    position: absolute;
    right: -50px;
    width: 265px;
	height: 142px;
    transform: skew(-37deg);
    overflow: hidden;
}
.pokemonTypeOverlayBackground {
    position: absolute;
    right: -30px;
    transform: skew(+37deg);
    width: 365px;
    height: 142px;
    background-size: cover;
}
.pokemonTypePosition {
    position: absolute;
    left: 55px;
    top: 48.5px;
}
.pokemonTypePositionOne {
    position: absolute;
    left: 45px;
    top: 83.5px;
}
.pokemonTypePositionTwo {
    position: absolute;
    left: 85px;
    top: 13.5px;
}
.pokemonType {
    width: fit-content;
    border-radius: 10px;
    height: 45px;
    background: #666666;
}
.pokemonType p {
    color: white;
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 10px;
}
.trianglePosition {
    position: absolute;
    right: 15px;
    top: 59.5px;
}

.pokemonClosedTriangle {
    width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 23px solid #555;
}

.pokemonOpenTriangle {
    width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 23px solid #555;
}

.card img{
    margin-left: 35px;
    object-fit: contain;
    width: 130px;
    margin-top: 10px;
    height: 121px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }


  .cardDetails {
    margin-left: 70px;
    margin-right: 70px;
    /*height: 383px;*/
    background-color: #fff;
    z-index: 90;
    margin-top: -25px;
    padding-top: 45px;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
  }

  .cardDetails div {
      flex-grow: 1;
      flex-basis: 0;
  }

  .cardDetails div h3 {
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 17.5px;
    }

    .cardDetails img {
        object-fit: contain;
        width: 100px;
        height: 110px;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .factsHeightWrapper {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
    }

    .factsHeightWrapper div img {
        width: unset;
        height: 40px;
        margin-top: 0;
        margin-left: 60px;
    }

    .factsHeightWrapper p {
        float:left;
        margin-block-start: 0;
        margin-block-end: 0;
        line-height: 20px;
        font-size: 17px;
        font-weight: bold;
    }

    .factsWeightWrapper {
        display: flex;
        flex-direction: row;
        margin-top: 25px;
    }

    .factsWeightWrapper div img {
        width: unset;
        height: 33.4px;
        margin-left: 55px;
        margin-top: 3px;
    }

    .factsWeightWrapper p {
        float:left;
        margin-block-start: 0;
        margin-block-end: 0;
        line-height: 20px;
        font-size: 17px;
        font-weight: bold;
    }

    .attacksWrapper div{
        margin-top: 30px;
    }

    .attacksWrapper p{
        margin-block-start: 0;
        margin-block-end: 0;
        line-height: 20px;
        font-size: 17px;
        font-weight: bold;
        text-align: center;
    }
    .fastAttack {
        background-color: #808080;
    }

    .specialAttack {
        background-color: #404040;
    }

    .attackCard {
        height: 25px;
        width: 130px;
        border-radius: 6px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px !important;
        padding: 0 7px;
    }
    .attackCard p {
        text-transform: unset;
        color: white;
        font-size: 11px;
        line-height: 25px;
    }
    .attackCard .attackName {
        float: left;
    }
    .attackCard .attackDamage {
        float: right;
    }
    
    .evolutionsImageWrapper img{
        height: 85px;
        z-index: 100;
    }

    .evolutionsImageWrapper img:hover {
        cursor: pointer;
    }
    .evolutionsImageWrapper p{
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
    }

    .noEvolutionFoundText {
        margin-top: 30px;
        font-size: 15px;
        text-transform: uppercase;
        text-align: center;
    }
