.searchboxWrapper {
    height: 160px;
    width: 100%;
    position: absolute;
}

.searchBox {
    text-transform: uppercase;
    position: relative;
    top: 60px;
    left: 100px;
    width: 60%;
    height: 35px;
    font-size: 33px;
    font-weight: 800;
    color: #666666;
    border: 0;
    border-bottom: 5px solid #404040;
    border-radius: 2.5px;
    outline: 0;
    background-color: transparent;
}